body {
  text-align: center;
  background: black;
  font-family: 'Gugi', cursive;
  color: white;
}

h1 {
  font-size: 40pt;
  margin: 0;
}

.instructions {
  font-size: 12pt;
  margin: 3px;
}

.board {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 0;
  width: 700px;
  height: 50px;
  background: #9ada75;
  padding: 5px;
  border-radius: 5px;
}

.lives {
  float: inherit;
}

.hearts {
  height: 50px;
  width: auto;
}